﻿@model List<PYVA.Models.Alumno>
@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<h2>Alumno</h2>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Apellidos</td>
                <td><a href="/home/detalle?id=@item.Id">Detalle</a></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
